.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 75%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

div.w3-main {
  text-align: justify;
} 


.footer {
    padding: 5px;
	margin-left:240px
    background-color: black;
    border-radius: 0 0 5px 5px;
    width: 1400px
 
}

div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #000066; 
       width: 100%; 

     }
     div#banner-content { 
       width: 800px; 
	   height: 125px;
       margin: 0 auto; 
       padding: 10px; 
     }
     div#main-content { 
       padding-top: 70px;
    }
	@media only screen and (max-width: 992px) {
    #banner {
        display: none;
    }
}
	
    .br { 
            display: block; 
            margin-bottom: 0.3em; 
        } 
	.space {
		display: block;
		margin-bottom: -1.3em
	}
	.top {
		display: block;
		margin-bottom: -0.8em
	}